= widget_div do
  %h1
    JokesWidget#display
  %p
    Find me in app/widgets/jokes/display.html.haml
  = form_for :something, :url => url_for_event(:joke), :remote => true do |f|
    = f.submit
  %button.client_side_render
    Render client-side
  %button.server_side_render
    Render server-side


:javascript
  window.jokesWidget = new JokesWidget('#{@endpoint}');
  window.jokesWidget.$container = $('#jokes');
  window.jokesWidget.__load();
